/* line 1, /Users/brad/dev/lab/refinery/rickrockstar/app/assets/stylesheets/home-page.css.scss */
#body {
  background-color: aqua;
}
/* Default error colouring */
/* line 3, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
article, nav, header, footer, aside, hgroup, section {
  display: block;
}

/* line 7, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
div.fieldWithErrors {
  display: inline;
}

/* line 11, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
#errorExplanation {
  border-top: 3px solid #F27F7F;
  background: #FFBEBE;
  padding: 10px;
}

/* line 17, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
#errorExplanation, #errorExplanation *, .fieldWithErrors, .fieldWithErrors * {
  color: #9C2626;
}

/* Browser Hacks */
/* line 22, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
a {
  /* remove borders from images */
  /*
  Firefox Dotted Line Fix
    - http://sonspring.com/journal/removing-dotted-links
  */
}
/* line 24, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
a img {
  border: 0px none;
}
/* line 31, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
a:focus {
  outline: none;
}

/*
Clearfix docs
 - Main docs: http://positioniseverything.net/easyclearing.html
 - IE7 change: http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/
*/
/* line 41, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
.clearfix, section {
  display: inline-block;
}
/* line 43, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
.clearfix:after, section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hide from IE Mac \*/
/* line 53, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/formatting.scss */
.clearfix, section {
  display: block;
}

/* End hide from IE Mac */
/* alignment styles */
/* line 3, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/theme.scss */
.text-align-left {
  text-align: left;
}

/* line 6, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/theme.scss */
.text-align-center {
  text-align: center;
}

/* line 9, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/theme.scss */
.text-align-right {
  text-align: right;
}

/* line 12, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/theme.scss */
.text-align-justify {
  text-align: justify;
}

/* block alignment styles */
/* line 17, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/theme.scss */
.image-align-left {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}

/* line 22, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/theme.scss */
.image-align-right {
  float: right;
  margin-left: 6px;
  margin-bottom: 6px;
}

/* font sizes */
/* line 29, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/theme.scss */
.font-size-small {
  font-size: 0.75em;
}

/* line 32, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/theme.scss */
.font-size-normal {
  font-size: 1em;
}

/* line 35, /Users/brad/.rvm/gems/ruby-2.4.4/gems/refinerycms-core-4.0.3/app/assets/stylesheets/refinery/theme.scss */
.font-size-large {
  font-size: 1.25em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *




 */
/* line 20, /Users/brad/dev/lab/refinery/rickrockstar/app/assets/stylesheets/application.css.scss */
body {
  background: #DDD;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

/* line 27, /Users/brad/dev/lab/refinery/rickrockstar/app/assets/stylesheets/application.css.scss */
#body, #side_body {
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding: 20px;
}

/* line 35, /Users/brad/dev/lab/refinery/rickrockstar/app/assets/stylesheets/application.css.scss */
#menu ul {
  list-style: none;
  padding: 0px;
}
/* line 38, /Users/brad/dev/lab/refinery/rickrockstar/app/assets/stylesheets/application.css.scss */
#menu ul li {
  float: left;
  margin-right: 10px;
}
/* line 41, /Users/brad/dev/lab/refinery/rickrockstar/app/assets/stylesheets/application.css.scss */
#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
/* line 46, /Users/brad/dev/lab/refinery/rickrockstar/app/assets/stylesheets/application.css.scss */
#menu ul li.selected a, #menu ul li a:hover {
  background: #CCC;
}
